name: Run Gradle on PRs
on: pull_request
jobs:
  original:
    strategy:
       matrix:
         os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Execute Gradle build
        run: ./gradlew clean assembleDebug
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
      - name: Upload test reports
        uses: actions/upload-artifact@v3
        with:
          name: artifact1
          path: /home/runner/.gradle/caches/transforms-3/3a124b23dc0deaeb471fa38b4fcdd014/transformed/output/jdkImage/lib/jrt-fs.jar
  different:
    strategy:
        matrix:
            os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
              distribution: zulu
              java-version: 11
        - name: Execute Gradle build
          run: |
                ./gradlew clean assembleDebug
                cd /home/runner/.gradle/caches/transforms-3/9dea87eed3e13d3b123b5ea58cd9c438/
                ls
          env:
              GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
        - name: Upload test reports
          uses: actions/upload-artifact@v3
          with:
            name: artifact2
            path: /home/runner/.gradle/caches/transforms-3/9dea87eed3e13d3b123b5ea58cd9c438/transformed/output/jdkImage/lib/jrt-fs.jar
