name: Run Gradle on PRs
on: pull_request
jobs:
  temurin:
    strategy:
      matrix:
        java: [11.0.17+8, 11.0.16+101, 11.0.16+8, 11.0.15+10]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: ./gradlew clean assembleDebug -Dscan.tag.S${{ matrix.java }}-temurin
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-temurin"              
          
  zulu:
    strategy:
      matrix:
        java: [11.0.17+8, 11.0.16+101, 11.0.16+8, 11.0.15+10]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: |
             ./gradlew clean assembleDebug -Dscan.tag.S${{ matrix.java }}-zulu
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-zulu"                    

  liberica:
    strategy:
      matrix:
        java: [11.0.17+8, 11.0.16+101, 11.0.16+8, 11.0.15+10]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: |
            ./gradlew clean assembleDebug -Dscan.tag.S${{ matrix.java }}-liberica
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-liberica"          

  adopt:
    strategy:
      matrix:
        java: [11.0.17+8, 11.0.16+101, 11.0.16+8, 11.0.15+10]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: |
            ./gradlew clean assembleDebug -Dscan.tag.S${{ matrix.java }}-adopt
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-adopt"
