name: Run Gradle on PRs
on: pull_request
jobs:
  original:
    strategy:
       matrix:
         os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Execute Gradle build
        run: ./gradlew clean assembleDebug
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_API_KEY }}
  different:
    strategy:
        matrix:
            os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
              distribution: zulu
              java-version: 11
        - name: Execute Gradle build
          run: ./gradlew clean assembleDebug
          env:
              GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
