name: Run Gradle on PRs
on: pull_request
jobs:
  temurin:
    strategy:
      matrix:
        java: [17.0.6+10, 17.0.5+8, 17.0.4+101, 17.0.3+7, 17.0.2+8]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: ./gradlew clean assembleDebug -Dscan.tag.XX${{ matrix.java }}-temurin
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-temurin"            
      - name: Upload test reports
        uses: actions/upload-artifact@v3
        with:
          name: artifact3
          path: /home/runner/.gradle/caches/transforms-3/8dcebbfbf0b5316d7855ce586e2654f1/transformed/output/jdkImage/lib/jrt-fs.jar
  zulu:
    strategy:
      matrix:
        java: [17.0.6+10, 17.0.5+8, 17.0.4+8, 17.0.3+7, 17.0.2+8]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: |
             ./gradlew clean assembleDebug -Dscan.tag.XX${{ matrix.java }}-zulu
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-zulu"                    
      - name: Upload test reports
        uses: actions/upload-artifact@v3
        with:
          name: artifact2
          path: /home/runner/.gradle/caches/transforms-3/6875585d083ced7f196d62606740afb8/transformed/output/jdkImage/lib/jrt-fs.jar


  liberica:
    strategy:
      matrix:
        java: [17.0.6+10, 17.0.5+8, 17.0.4+8, 17.0.3+7, 17.0.2+9]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: ${{ matrix.java }}
      - name: Execute Gradle build
        run: |
            ./gradlew clean assembleDebug -Dscan.tag.XX${{ matrix.java }}-liberica
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_API_KEY }}
          AGENT_JAVA_VERSION: "${{ matrix.java }}-liberica"          
      - name: Upload test reports
        uses: actions/upload-artifact@v3
        with:
          name: artifact1
          path: /home/runner/.gradle/caches/transforms-3/ce8b16410f5bb7e4035b0763ac3925bb/transformed/output/jdkImage/lib/jrt-fs.jar

